/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f77669;
  --ifm-color-primary-dark: #f55748;
  --ifm-color-primary-darker: #f44837;
  --ifm-color-primary-darkest: #ea210c;
  --ifm-color-primary-light: #f9958a;
  --ifm-color-primary-lighter: #faa49b;
  --ifm-color-primary-lightest: #fcd2cd;

  --ifm-font-family-base: 'JetBrains Mono', monospace;
  --ifm-background-color: #1e2527 !important;
  --ifm-navbar-background-color: #181d1f;
}

.navbar__brand {
  background-color: #252b2d;
  border-radius: 6px;
  padding: 3px 5px;
  margin: 3px 0;
  border: 0;
  height: 38px;
}

.navbar__title {
  font-size: 14pt;
  margin: 0;
  color: #fff;
}