/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-monospace: 'JetBrains Mono', monospace;
  --ifm-navbar-padding-vertical: 5px;
}

[data-theme='dark'] {
  --ifm-color-primary: #f77669;
  --ifm-color-primary-dark: #f55748;
  --ifm-color-primary-darker: #f44837;
  --ifm-color-primary-darkest: #ea210c;
  --ifm-color-primary-light: #f9958a;
  --ifm-color-primary-lighter: #faa49b;
  --ifm-color-primary-lightest: #fcd2cd;

  --ifm-background-color: #0f1419 !important;
  --ifm-navbar-background-color: #0a0e14;
  --ifm-navbar-shadow: 0 0 4px #130b00;
  --ifm-menu-color: #e0e2e4;
}

[data-theme='light'] {
  --ifm-color-primary: #d84539;
  --ifm-color-primary-dark: #cd3528;
  --ifm-color-primary-darker: #c23226;
  --ifm-color-primary-darkest: #a0291f;
  --ifm-color-primary-light: #dc5a50;
  --ifm-color-primary-lighter: #df655b;
  --ifm-color-primary-lightest: #e5857d;

  --ifm-background-color: #ffffff !important;
  --ifm-navbar-background-color: #fafbfc;
  --ifm-navbar-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  --ifm-menu-color: #1a1a1a;
}

[data-theme='dark'] .alert {
  --ifm-color-info-dark: rgba(255, 255, 255, 0.1);
  --ifm-color-info-contrast-background: rgba(255, 255, 255, 0.05) !important;
}

.navbar {
  height: auto;
}

.menu, .table-of-contents, .navbar, h1, h2, h3, h4, h5 {
  font-family: 'JetBrains Mono', monospace;
}

.menu__link--sublist-caret::after {
  display: none;
}

.menu__link--sublist-caret {
  font-size: 120%;
  font-weight: bold;
}

[data-theme='dark'] .navbar__brand {
  background-color: #1a1f29;
}

[data-theme='light'] .navbar__brand {
  background-color: #f8f9fa;
}

.navbar__brand {
  border-radius: 5px;
  padding: 3px 5px 3px 3px;
  margin: 3px 0;
  border: 0;
  height: 38px;
}

.navbar--fixed-top {
  padding: 5px 20px;
}

[data-theme='dark'] .navbar__title {
  color: #fff;
}

[data-theme='light'] .navbar__title {
  color: #1a1a1a;
}

.navbar__title {
  padding: 0 3px;
  font-size: 14pt;
  margin: 0;
  font-weight: normal;
}

.navbar__logo {
  margin-right: 0;
  padding-right: 5px;
}
